body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: rgb(165 237 224 / 36%);
}
.header-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
}
header{
    background:#67b198;
    color: white;
    padding: 10px;

}
.logo {
    width: 100px; 
    height: auto; 
    margin-right: 20px;  
}
nav{
    background-color: rgba(17,41,53,230);
    height: 40px;
    text-align: center;
}
nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; 
}

.overview {
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.globe {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
}

.overview a {
    color: rgba(17,41,53,230);
    color: #67b198; 
    text-decoration: none; 
}

.overview a:hover {
    text-decoration: underline; 
}


